.tendencias {
    display: flex;
    flex-direction: column;

    margin: 0 14rem 0 10rem;

    &_content {

        &-1 {
        display: flex;
        justify-content: space-between;

            &-box {
                display: flex;
                flex-direction: column;
                justify-content: baseline;

                height: 29.8rem;
                width: 28.8rem;
            }

            &-img {
                height: 29.8rem;
                width: 28.8rem;

                position: absolute;
                z-index: 1;
            }
    }

        &-2 {
            display: flex;
            justify-content: space-between;

            margin-top: 1.6rem;

            &-long {
                width: 59.2rem;
                height: 29.8rem;
            }

            &-box {
                display: flex;
                flex-direction: column;
                justify-content: baseline;
    
                height: 29.8rem;
                width: 28.8rem;
            }

            &-img {
                position: absolute;
                z-index: 1;

                height: 29.8rem;
                width: 28.8rem;

                &-long {
                    width: 59.2rem;
                    height: 29.8rem;

                    position: absolute;
                    z-index: 1;
                }
            }
        }
    }
}