.button {
    &_grey {
        height: 3.6rem;
        width: 10.2rem;
        background-color: $color-light-grey;

        border: 1px solid $color-dark-grey;
        @include innerShadowSmall;

        text-align: center;
        font-size: 1.6rem;
        color: $color-grey;
        
        //To center vertically same as height
        line-height: 3.6rem;

        &-img {
            margin-right: 10px;
        }
        }
    &_dropdown {
            height: 3.6rem;
            width: 90%;

            background-color: #f0f0f0;
            @include innerShadow;

            text-align: left;
            font-size: 1.6rem;
            color: $color-dark-blue;
            text-decoration: none;
            padding-left: 1.6rem;
            
            //To center vertically same as height
            line-height: 3.6rem;

            &:hover,
            &:active {
                background-color: #FFF4FD;
                border: 1px solid #CCA6C9;
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
            }
    }
}